<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join the Waitlist! </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="/register" method="post">
      <h1>Register</h1>
      <div class="input-box">
        <input type="email" placeholder="Email" name="email" pattern="[a-zA-Z0-9._%+-]+@gmail\.com" required>
        <i class='bx bxs-envelope'></i>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Username" name="username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" name="password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <button type="submit" class="btn">Join</button>
     
    </form>
  </div>
</body>
</html>